.content {
    text-align: center;
    margin: 30px;
}

ol {
    display: inline-block;
    background: #ff9999;
    padding: 0;
}

li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

input {
    font-size: 20px;
    margin-top: 10px;
}

#dataInput {
    width: 90%;
}