.content {
    text-align: center;
    margin: 30px;
}

#timeTable {
    display: inline-block;
}

ol {
    display: inline-block;
    background: #ff9999;
    padding: 0;
}

li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

input {
    font-size: 20px;
    margin-top: 10px;
}

#largeInput {
    min-height: 100px;
    min-width: 200px;
}

#dataInput {
    width: 90%;
}

#WaveDrom_Display_0 {
    overflow-x: scroll;
}

#timeTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#timeTable td, #timeTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#timeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#timeTable tr:hover {
    background-color: #ddd;
}

#timeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}